image: ruby:latest

variables:
  JEKYLL_ENV: production
  LC_ALL: "C.UTF-8"
  GIT_SUBMODULE_STRATEGY: recursive

pages:
  stage: deploy
  before_script:
  - mkdir -p .bundler
  - bundle install -j 24 --path .bundler
  script:
  - bundle exec rougify style base16.dark >> assets/css/main.scss
  - bundle exec jekyll build -d public
  artifacts:
    paths:
    - public
  caches:
    paths:
    - .bundler
  only:
  - master

