image: ruby:alpine

variables:
  JEKYLL_ENV: production
  LC_ALL: "C.UTF-8"
  GIT_SUBMODULE_STRATEGY: recursive

pages:
  stage: deploy
  before_script:
  - apk add git make gcc musl-dev g++
  - mkdir -p .bundler
  - bundle install -j $(nproc) --path .bundler
  script:
  - bundle exec jekyll build -d public
  artifacts:
    paths:
    - public
  cache:
    paths:
    - .bundler
  only:
  - master

