<meta charset="utf-8">

{% include seo.html %}

<link href="{{ '/feed.xml' | relative_url }}" type="application/atom+xml" rel="alternate" title="Feed">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
  document.documentElement.className = '';
</script>
{% if site.comments.provider == "matrix" and page.comments %}
  <script type="text/javascript" src="https://gateway.pinata.cloud/ipfs/QmSiWN27KZZ1XE32jKwifBnS3nWTUcFGNArKzur2nmDgoL/v0.13.0/cactus.js"></script>
  <link rel="stylesheet" href="https://gateway.pinata.cloud/ipfs/QmSiWN27KZZ1XE32jKwifBnS3nWTUcFGNArKzur2nmDgoL/v0.13.0/style.css" type="text/css">
{% endif %}
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/fork-awesome.min.css' | relative_url }}">