{% if page.previous or page.next %}
  <nav class="pagination">
    {% if page.previous %}
      <a href="{{ page.previous.url | relative_url }}" class="pagination--pager">
        <i class="fa fa-angle-left"></i> {{ page.previous.title | markdownify | strip_html }}
      </a>
    {% endif %}
    {% if page.next %}
      <a href="{{ page.next.url | relative_url }}" class="pagination--pager right">
        {{ page.next.title | markdownify | strip_html }} <i class="fa fa-angle-right"></i>
      </a>
    {% endif %}
  </nav>
{% endif %}