---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

@media (prefers-color-scheme: light) {
	@import "minimal-mistakes/skins/{{ site.minimal_mistakes_light_skin | default: 'default' }}"; // skin
}

@import "minimal-mistakes"; // main partials

::-webkit-scrollbar-track
{
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar
{
	width: 6px;
	height: 6px;
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb
{
	background-color: #699ea0;
}

.masthead {
	position: sticky;
	background: #252a34;
	top: 0;
}

.sticky {
	top: 4em;
}
