---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

#highlight::-webkit-scrollbar-track
{
	background-color: rgba(0,0,0,0);
}

#highlight::-webkit-scrollbar
{
	width: 6px;
	height: 6px;
	background-color: rgba(0,0,0,0);
}

#highlight::-webkit-scrollbar-thumb
{
	background-color: #699ea0;
}

::-webkit-scrollbar-track
{
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar
{
	width: 6px;
	height: 6px;
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb
{
	background-color: #699ea0;
}
