---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// jekyll variables
$comments-provider: {{ site.comments.provider }};

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

@import "minimal-mistakes"; // main partials

label[for="darkmode"] {
  display: none;
}

label[for="lightmode"] {
  display: block;
}

@media (prefers-color-scheme: light) {
  label[for="darkmode"] {
    display: block;
  }

  label[for="lightmode"] {
    display: none;
  }

  @import "minimal-mistakes/skins/{{ site.minimal_mistakes_light_skin | default: 'default' }}"; // skin
  @import "minimal-mistakes/colors"; // color overrides
}

input#lightmode:checked ~ div {
  @import "minimal-mistakes/skins/{{ site.minimal_mistakes_light_skin | default: 'default' }}"; // skin
  @import "minimal-mistakes/colors"; // color overrides
}

@media (prefers-color-scheme: light) {
  input#darkmode:checked ~ div {
    @import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
    @import "minimal-mistakes/colors"; // color overrides
  }
}
