---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

@media (prefers-color-scheme: light) {
	@import "minimal-mistakes/skins/{{ site.minimal_mistakes_light_skin | default: 'default' }}"; // skin
}

@import "minimal-mistakes"; // main partials

.masthead {
	position: sticky;
	background: $background-color;
	top: 0;
}

.sticky {
	top: 3.375em;
}
