---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// jekyll variables
$comments-provider: {{ site.comments.provider }};

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

@import "minimal-mistakes"; // main partials

@media (prefers-color-scheme: light) {
	@import "minimal-mistakes/skins/{{ site.minimal_mistakes_light_skin | default: 'default' }}"; // skin
  @import "minimal-mistakes/colors"; // color overrides
}


