/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #eeeeee;
$text-color: #222831;
$muted-text-color: #393e46;
$primary-color: #0092ca;
$border-color: mix(#fff, #393e46, 75%);
$footer-background-color: $primary-color;
$link-color: #393e46;
$masthead-link-color: $text-color;
$masthead-link-color-hover: $text-color;
$navicon-link-color-hover: mix(#fff, $text-color, 80%);
$code-background-color: #fafafa;
$gray: #7a8288;
$light-gray: mix(#fff, $gray, 50%);
$code-background-color-dark: $light-gray;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
