/* ==========================================================================
   Aqua skin
   ========================================================================== */

/* Colors */
$gray                       : #1976d2;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#fff, $gray, 90%);

$body-color                 : #fff;
$background-color           : #f0fff0;
$code-background-color      : $lighter-gray;
$code-background-color-dark : $light-gray;
$text-color                 : $dark-gray;
$border-color               : $lighter-gray;

$primary-color              : $gray;
$success-color              : #27ae60;
$warning-color              : #e67e22;
$danger-color               : #c0392b;
$info-color                 : #03a9f4;

/* links */
$link-color                 : $info-color;
$link-color-hover           : mix(#000, $link-color, 25%);
$link-color-visited         : mix(#fff, $link-color, 25%);
$masthead-link-color        : $primary-color;
$masthead-link-color-hover  : mix(#000, $primary-color, 25%);