/* ==========================================================================
   Contrast skin
   ========================================================================== */

/* Colors */
$text-color: #000;
$muted-text-color: $text-color;
$primary-color: #ff0000;
$border-color: mix(#fff, $text-color, 75%);
$footer-background-color: #000;
$link-color: #0000ff;
$masthead-link-color: $text-color;
$masthead-link-color-hover: $text-color;
$navicon-link-color-hover: mix(#fff, $text-color, 80%);

.page__content {
  .notice,
  .notice--primary,
  .notice--info,
  .notice--warning,
  .notice--success,
  .notice--danger {
    color: $text-color;
  }
}

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
