/* ==========================================================================
   Contrast skin
   ========================================================================== */

/* Colors */
$text-color: #000;
$muted-text-color: $text-color;
$primary-color: #ff0000;
$border-color: mix(#fff, $text-color, 75%);
$footer-background-color: #000;
$link-color: #0000ff;
$masthead-link-color: $text-color;
$masthead-link-color-hover: $text-color;
$navicon-link-color-hover: mix(#fff, $text-color, 80%);

/* contrast syntax highlighting (base16) */
$base00: #000000;
$base01: #242422;
$base02: #484844;
$base03: #6c6c66;
$base04: #918f88;
$base05: #b5b3aa;
$base06: #d9d7cc;
$base07: #fdfbee;
$base08: #ff6c60;
$base09: #e9c062;
$base0a: #ffffb6;
$base0b: #a8ff60;
$base0c: #c6c5fe;
$base0d: #96cbfe;
$base0e: #ff73fd;
$base0f: #b18a3d;

.page__content {
  .notice,
  .notice--primary,
  .notice--info,
  .notice--warning,
  .notice--success,
  .notice--danger {
    color: $text-color;
  }
}

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
