/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #eeeeee;
$text-color: #222831;
$muted-text-color: #393e46;
$primary-color: #00acc1;
$primary-color-raised: #26c6da;
$primary-color-disabled: #00838f;
$border-color: mix(#fff, #393e46, 75%);
$link-color: $primary-color;
$link-color-hover: mix(#fff, $link-color, 25%);
$link-color-visited: mix(#000, $link-color, 25%);
$masthead-link-color: $text-color;
$masthead-link-color-hover: mix(#fff, $text-color, 20%);
$navicon-link-color-hover: mix(#000, $background-color, 30%);
$code-background-color: #fafafa;
$gray: #7a8288;
$light-gray: mix(#fff, $gray, 50%);
$lighter-gray: mix(#fff, $gray, 90%) !default;
$code-background-color-dark: $lighter-gray;
$footer-background-color: #dddddd;
$pager-text-color: #fff6fb;
$pager-text-color-disabled: rgba($pager-text-color, 0.5);

.highlight, .highlight.w {
  background-color: $code-background-color;
}

.highlight .gh {
  background-color: unset;
}
