/* ==========================================================================
   Neon skin
   ========================================================================== */

/* Colors */
$background-color: #181818 !default;
$text-color: #fff6fb !default;
$primary-color: #00acc1 !default;
$primary-color-disabled: #00838f !default;
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: #202124 !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: #000 !default;
$link-color: $primary-color !default;
$link-color-hover: mix(#fff, $link-color, 25%) !default;
$link-color-visited: mix(#000, $link-color, 25%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;
