/* ==========================================================================
   Neon skin
   ========================================================================== */

/* Colors */
$background-color: #181818;
$text-color: #fff6fb;
$primary-color: #00acc1;
$primary-color-raised: #26c6da;
$primary-color-disabled: #00838f;
$border-color: mix(#fff, $background-color, 20%);
$code-background-color: #202124;
$code-background-color-dark: mix(#000, $background-color, 20%);
$form-background-color: mix(#000, $background-color, 15%);
$footer-background-color: #000;
$link-color: $primary-color;
$link-color-hover: mix(#fff, $link-color, 25%);
$link-color-visited: mix(#000, $link-color, 25%);
$masthead-link-color: $text-color;
$masthead-link-color-hover: mix(#000, $text-color, 20%);
$navicon-link-color-hover: mix(#fff, $background-color, 10%);
$pager-text-color: #fff6fb;
$pager-text-color-disabled: rgba($pager-text-color, 0.5);

