/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Colors */
$background-color: #252a34;
$text-color: #eaeaea;
$primary-color: #00adb5;
$border-color: mix(#fff, $background-color, 20%);
$code-background-color: mix(#000, $background-color, 15%);
$code-background-color-dark: mix(#000, $background-color, 20%);
$form-background-color: mix(#000, $background-color, 15%);
$footer-background-color: mix(#000, $background-color, 30%);
$link-color: mix($primary-color, $text-color, 40%);
$link-color-hover: mix(#fff, $link-color, 25%);
$link-color-visited: mix(#000, $link-color, 25%);
$masthead-link-color: $text-color;
$masthead-link-color-hover: mix(#000, $text-color, 20%);
$navicon-link-color-hover: mix(#000, $background-color, 30%);

.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}