/* ==========================================================================
   Dirt skin
   ========================================================================== */

/* Colors */
$background-color: #f3f3f3;
$text-color: #343434;
$muted-text-color: #8e8b82;
$primary-color: #343434;
$border-color: #e9dcbe;
$footer-background-color: #e9dcbe;
$link-color: #343434;
$masthead-link-color: $text-color;
$masthead-link-color-hover: $text-color;
$navicon-link-color-hover: mix(#fff, $text-color, 80%);

