/* ==========================================================================
   Plum skin
   ========================================================================== */

/* Colors */
$background-color: #521477;
$text-color: #fffd86;
$primary-color: #c327ab;
$border-color: mix(#fff, $background-color, 20%);
$code-background-color: mix(#000, $background-color, 15%);
$code-background-color-dark: mix(#000, $background-color, 20%);
$form-background-color: mix(#000, $background-color, 15%);
$footer-background-color: mix(#000, $background-color, 25%);
$link-color: $primary-color;
$link-color-hover: mix(#fff, $link-color, 25%);
$link-color-visited: mix(#000, $link-color, 25%);
$masthead-link-color: $text-color;
$masthead-link-color-hover: mix(#000, $text-color, 20%);
$navicon-link-color-hover: mix(#000, $background-color, 30%);

.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.page__content {
  a,
  a:visited {
    color: inherit;
  }
}

/* next/previous buttons */
.pagination--pager {
  color: $text-color;
  background-color: $primary-color;
  border-color: transparent;

  &:visited {
    color: $text-color;
  }
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}