/* ==========================================================================
   Sunrise skin
   ========================================================================== */

/* Colors */
$dark-gray: #0e2431;
$background-color: #e8d5b7;
$text-color: #000;
$muted-text-color: $dark-gray;
$primary-color: #fc3a52;
$border-color: mix(#000, $background-color, 20%);
$code-background-color: mix(#fff, $background-color, 20%);
$code-background-color-dark: mix(#000, $background-color, 10%);
$form-background-color: mix(#fff, $background-color, 15%);
$footer-background-color: #f9b248;
$link-color: mix(#000, $primary-color, 10%);
$link-color-hover: mix(#fff, $link-color, 25%);
$link-color-visited: mix(#000, $link-color, 25%);
$masthead-link-color: $text-color;
$masthead-link-color-hover: mix(#000, $text-color, 20%);
$navicon-link-color-hover: mix(#000, $background-color, 30%);

/* sunrise syntax highlighting (base16) */
$base00: #1d1f21;
$base01: #282a2e;
$base02: #373b41;
$base03: #969896;
$base04: #b4b7b4;
$base05: #c5c8c6;
$base06: #e0e0e0;
$base07: #ffffff;
$base08: #cc6666;
$base09: #de935f;
$base0a: #f0c674;
$base0b: #b5bd68;
$base0c: #8abeb7;
$base0d: #81a2be;
$base0e: #b294bb;
$base0f: #a3685a;

.author__urls.social-icons .fa,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
