/* ==========================================================================
   Sunrise skin
   ========================================================================== */

/* Colors */
$dark-gray: #0e2431;
$background-color: #e8d5b7;
$text-color: #000;
$muted-text-color: $dark-gray;
$primary-color: #fc3a52;
$border-color: mix(#000, $background-color, 20%);
$code-background-color: mix(#fff, $background-color, 20%);
$code-background-color-dark: mix(#000, $background-color, 10%);
$form-background-color: mix(#fff, $background-color, 15%);
$footer-background-color: #f9b248;
$link-color: mix(#000, $primary-color, 10%);
$link-color-hover: mix(#fff, $link-color, 25%);
$link-color-visited: mix(#000, $link-color, 25%);
$masthead-link-color: $text-color;
$masthead-link-color-hover: mix(#000, $text-color, 20%);
$navicon-link-color-hover: mix(#000, $background-color, 30%);

.author__urls.social-icons .fa,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
