/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  @include clearfix;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  animation: $intro-transition;
  animation-delay: 0.45s;

  footer {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    max-width: 100%;
    padding: 0 1em 1.75em;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }
}

.page__footer-copyright {
  font-size: $type-size-7;
}

.page__footer-follow {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;
    font-size: $type-size-6;
    text-transform: uppercase;
  }

  li + li {
    padding-right: 8px;
  }

  .social-icons {
    a {
      white-space: nowrap;
    }
  }
}
