/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  @include clearfix;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;

  footer {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    max-width: 100%;
    padding: 0 1em 1.75em;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }
}

.page__footer-copyright {
  font-size: $type-size-7;
  a {
    text-decoration: underline;
  }
}

.page__footer-follow {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  }

  li {
    font-size: $type-size-6;

    i {
      margin-right: 4px;
    }
  }

  li + li {
    padding-left: 12px;
  }

  .social-icons {
    a {
      white-space: nowrap;
    }
  }
}
