/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  animation: $intro-transition;
  animation-delay: 0.15s;
  z-index: 20;
	position: sticky;
	top: 0;
  @include clearfix;
  padding: 0.625em 0 0.625em 1em;

  @include breakpoint($x-large) {
    max-width: $max-width;
  }

  nav {
    z-index: 10;
  }

  a {
    text-decoration: none;
  }

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.site-logo img {
  max-height: 2rem;
}

.site-title {
  display: flex;
  align-self: center;
  font-weight: bold;
}

.site-subtitle {
  display: block;
  font-size: $type-size-8;
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: bold;
  }
}
