/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  border-bottom: 1px solid $border-color;
  animation: $intro-transition;
  animation-delay: 0.15s;
  z-index: 20;
	position: sticky;
	background: $background-color;
	top: 0;

  &__inner-wrap {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    padding: 0.625em 0 0.625em 1em;
    max-width: 100%;
    display: flex;
    justify-content: space-between;

    @include breakpoint($x-large) {
      max-width: $max-width;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.site-logo img {
  max-height: 2rem;
}

.site-title {
  display: flex;
  align-self: center;
  font-weight: bold;
}

.site-subtitle {
  display: block;
  font-size: $type-size-8;
}

.masthead__menu {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: bold;
  }
}
