/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.greedy-nav {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  z-index: 20;
	position: sticky;
	top: 0;
  padding: 0.625em 1em;
  display: flex;
  align-items: center;
  min-height: $nav-height;
  width: 100%;

  @include breakpoint($x-large) {
    max-width: $max-width;
  }

  a {
    text-decoration: none;
    margin: 0 1rem;
    white-space: nowarp;

    &.site-logo {
      margin-left: 0;
      margin-right: 0.5rem;
    }

    &.site-title {
      margin-left: 0;
    }
  }

  .greedy-nav__toggle {
    margin-left: 1rem;
    height: $nav-toggle-height;
    border: 0;
    outline: none;
   }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .visible-links {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    overflow: hidden;
    font-size: 0.875em;
  }

  .hidden-links {
    position: absolute;
    top: 100%;
    right: 1rem;
    margin-top: 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: $border-radius;
    box-shadow: 0 2px 4px 0 rgba(#000, 0.16), 0 2px 10px 0 rgba(#000, 0.12);
    font-size: 0.875em;

    a {
      margin: 0;
      padding: 10px 20px;
      font-size: $type-size-5;
      display: block;
    }

    &:before {
      content: "";
      position: absolute;
      top: -11px;
      right: 10px;
      width: 0;
      border-style: solid;
      border-width: 0 10px 10px;
      z-index: 0;
    }

    &:after {
      content: "";
      position: absolute;
      top: -10px;
      right: 10px;
      width: 0;
      border-style: solid;
      border-width: 0 10px 10px;
      z-index: 1;
    }

    li {
      border-bottom-width: 1px;
      border-bottom-style: solid;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.site-logo img {
  max-height: 2rem;
}

.site-title {
  font-weight: bold;
}

.site-subtitle {
  display: block;
  font-size: $type-size-8;
}

.search__toggle {
  margin-left: 1rem;
  height: $nav-toggle-height;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}
