/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  animation: $intro-transition;
  animation-delay: 0.15s;
  z-index: 20;
	position: sticky;
	top: 0;
  @include clearfix;
  padding: 0.625em 0 0.625em 1em;

  @include breakpoint($x-large) {
    max-width: $max-width;
  }

  nav {
    z-index: 10;
  }

  a {
    text-decoration: none;
  }

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.greedy-nav {
  display: flex;
  align-items: center;
  min-height: $nav-height;

  a {
    display: block;
    margin: 0 1rem;
    text-decoration: none;

    &.site-logo {
      margin-left: 0;
      margin-right: 0.5rem;
    }

    &.site-title {
      margin-left: 0;
    }
  }

  &__toggle {
    align-self: center;
    height: $nav-toggle-height;
    border: 0;
    outline: none;
    cursor: pointer;
  }

  .visible-links {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    overflow: hidden;

    li {
      flex: none;
    }

    a {
      position: relative;
    }
  }

  .hidden-links {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 15px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: $border-radius;
    box-shadow: 0 2px 4px 0 rgba(#000, 0.16), 0 2px 10px 0 rgba(#000, 0.12);

    &.hidden {
      display: none;
    }

    a {
      margin: 0;
      padding: 10px 20px;
      font-size: $type-size-5;
    }

    &:before {
      content: "";
      position: absolute;
      top: -11px;
      right: 10px;
      width: 0;
      border-style: solid;
      border-width: 0 10px 10px;
      display: block;
      z-index: 0;
    }

    &:after {
      content: "";
      position: absolute;
      top: -10px;
      right: 10px;
      width: 0;
      border-style: solid;
      border-width: 0 10px 10px;
      display: block;
      z-index: 1;
    }

    li {
      display: block;
      border-bottom-width: 1px;
      border-bottom-style: solid;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.site-logo img {
  max-height: 2rem;
}

.site-title {
  display: flex;
  align-self: center;
  font-weight: bold;
}

.site-subtitle {
  display: block;
  font-size: $type-size-8;
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: bold;
  }
}
