.no-js {
  .greedy-nav {
    .visible-links {
      flex-wrap: wrap;
    }
    .search__toggle {
      display: none;
    }
  }
}

input#follow-button:checked + label + ul.author__urls {
  display: block;
}

input#follow-button {
  display: none;
}

input#darkmode, input#lightmode {
  display: none;
}

.greedy-nav__toggle:before, input#follow-botton + label:before {
  @supports (pointer-events: none) {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: $global-transition;
    pointer-events: none;
    background: $background-color;
  }
}

.greedy-nav__toggle.close:before, input#follow-button:checked + label:before {
  opacity: 0.9;
  pointer-events: auto;
}

label[for="darkmode"], label[for="lightmode"] {
  position: absolute;
  z-index: 1000;
  bottom: 1.75em;
  right: 1em;
}
