.no-js {
  .greedy-nav {
    .visible-links {
      flex-wrap: wrap;
    }
    .search__toggle {
      display: none;
    }
  }
}

input#follow-button:checked + label + ul.author__urls {
  display: block;
}

input#follow-button {
  display: none;
}

input#darkmode, input#lightmode {
  display: none;
}

input#follow-button + label {
  &:before {
    @supports (pointer-events: none) {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }
}

input#follow-button:checked + label {
  &:before {
    pointer-events: auto;
  }
}

label[for="darkmode"], label[for="lightmode"] {
  position: absolute;
  z-index: 1000;
  bottom: 1.75em;
  right: 1em;
}
