.no-js {
  .greedy-nav {
    .visible-links {
      flex-wrap: wrap;
    }
    .search__toggle {
      display: none;
    }
  }
}

#follow-button:checked + label + ul.author__urls {
  display: block;
}

#follow-button {
  display: none;
}
