.no-js {
  .greedy-nav {
    .visible-links {
      flex-wrap: wrap;
    }
    .search__toggle {
      display: none;
    }
  }
}

#follow-button:checked + label + ul.author__urls {
  display: block;
}

#follow-button {
  display: none;
  &:checked + label {
    background-color: $primary-color-disabled;
  }
  &:hover + label {
    background-color: $primary-color-raised;
  }
}
