.no-js {
  .greedy-nav {
    .visible-links {
      flex-wrap: wrap;
    }
    .search__toggle {
      display: none;
    }
  }
}

input#follow-button:checked + label + ul.author__urls {
  display: block;
}

input#follow-button {
  display: none;
}

input#darkmode, input#lightmode {
  display: none;
}

label[for="darkmode"], label[for="lightmode"] {
  position: absolute;
  z-index: 1000;
  bottom: 1.75em;
  right: 1em;
}
