/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */

#main {
  @include clearfix;
  padding: 0 1em;
  animation: $intro-transition;
  animation-delay: 0.15s;
  width: 100%;
}

.top-flex {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.initial-content,
.search-content {
  flex: 1 0 auto;
  width: 100%;

  @include breakpoint($x-large) {
    max-width: $max-width;
  }
}

.page {
  @include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
    padding-right: $right-sidebar-width;
  }

  .page__inner-wrap {
    float: left;
    width: 100%;
    clear: both;

    .page__content,
    .page__meta,
    .page__share {
      position: relative;
      float: left;
      width: 100%;
      clear: both;
    }
  }
}

.page__title {
  margin: 0.75em 0;

  & + .page__meta {
    margin-top: -0.5em;
  }
}

.page__lead {
  font-size: $type-size-4;
}

.page__content {
  h2 {
    padding-bottom: 0.5em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  h1, h2, h3, h4, h5, h6 {
    .header-link {
      position: relative;
      left: 0.5em;
      opacity: 0;
      font-size: 0.8em;
      transition: opacity 0.2s ease-in-out 0.1s;
    }

    &:hover .header-link {
      opacity: 1;
    }
  }

  p,
  li,
  dl {
    font-size: 1em;
  }

  /* paragraph indents */
  p {
    margin: 0 0 $indent-var;

    /* sibling indentation*/
    @if $paragraph-indent == true {
      & + p {
        text-indent: $indent-var;
        margin-top: -($indent-var);
      }
    }
  }

  a:not(.btn) {
    &:hover {
      text-decoration: underline;

      img {
        box-shadow: 0 0 10px rgba(#000, 0.25);
      }
    }
  }

  dt {
    margin-top: 1em;
    font-weight: bold;
  }

  dd {
    margin-left: 1em;
    font-size: $type-size-6;
  }

  .small {
    font-size: $type-size-6;
  }

  /* blockquote citations */
  blockquote + .small {
    margin-top: -1.5em;
    padding-left: 1.25rem;
  }
}

.page__hero {
  position: relative;
  margin-bottom: 2em;
  @include clearfix;
  animation: $intro-transition;
  animation-delay: 0.25s;

  &--overlay {
    position: relative;
    margin-bottom: 2em;
    padding: 3em 0;
    @include clearfix;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: $intro-transition;
    animation-delay: 0.25s;

    .wrapper {
      padding-left: 1em;
      padding-right: 1em;

      @include breakpoint($x-large) {
        max-width: $x-large;
      }
    }

    .page__lead {
      max-width: $medium;
    }

    .page__title {
      font-size: $type-size-2;

      @include breakpoint($small) {
        font-size: $type-size-1;
      }
    }
  }
}

.page__hero-image {
  width: 100%;
  height: auto;
}

.page__hero-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 5px;
  font-size: $type-size-7;
  text-align: right;
  z-index: 5;
  opacity: 0.5;
  border-radius: $border-radius 0 0 0;

  @include breakpoint($large) {
    padding: 5px 10px;
  }

  a {
    text-decoration: none;
  }
}

/*
   Social sharing
   ========================================================================== */

.page__share {
  margin-top: 2em;
  padding-top: 1em;
  border-top-width: 1px;
  border-top-style: solid;
}

.page__share-title {
  font-size: $type-size-6;
}

/*
   Page meta
   ========================================================================== */

.page__meta {
  margin-top: 2em;
  font-size: $type-size-6;

  p {
    margin: 0;
    height: 2.5em;
    line-height: 2.5em;
  }
}

.page__meta-title {
  margin-bottom: 10px;
  font-size: $type-size-6;
  text-transform: uppercase;
}

.page__meta-sep::before {
  content: "\2022";
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/*
   Page taxonomy
   ========================================================================== */

.page__taxonomy {
  .sep {
    display: none;
  }

  strong {
    margin-right: 10px;
  }
}

.page__taxonomy-item {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 4px 8px;
  line-height: 1.5;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-radius: $border-radius;

  &:hover {
    text-decoration: none;
  }
}

.taxonomy__section {
  margin-bottom: 2em;
  padding-bottom: 1em;

  &:not(:last-child) {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  .archive__item-title {
    margin-top: 0;
  }

  .archive__subtitle {
    clear: both;
    border: 0;
  }

  + .taxonomy__section {
    margin-top: 2em;
  }
}

.taxonomy__title {
  margin-bottom: 0.5em;
}

.taxonomy__index {
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: repeat(2, 1fr);
  margin: 1.414em 0;
  padding: 0;
  font-size: 0.75em;
  list-style: none;

  @include breakpoint($large) {
    grid-template-columns: repeat(3, 1fr);
  }

  a {
    display: flex;
    padding: 0.25em 0;
    justify-content: space-between;
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
}

.back-to-top {
  display: block;
  clear: both;
  font-size: 0.6em;
  text-transform: uppercase;
  text-align: right;
  text-decoration: none;
}

/*
   Comments
   ========================================================================== */

.page__comments {
  clear: both;
}

.page__comments-title {
  padding-top: 2rem;
  font-size: $type-size-6;
  border-top-width: 1px;
  border-top-style: solid;
}

@if $comments-provider == staticman or $comments-provider == staticman_v2 {
  .page__comments-form {
    transition: $global-transition;

    &.disabled {
      input,
      button,
      textarea,
      label {
        pointer-events: none;
        cursor: not-allowed;
        filter: alpha(opacity=65);
        box-shadow: none;
        opacity: 0.65;
      }
    }
  }

  .comment {
    @include clearfix();
    margin: 1em 0;

    &:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }
  }

  .comment__avatar-wrapper {
    float: left;
    width: 60px;
    height: 60px;

    @include breakpoint($large) {
      width: 100px;
      height: 100px;
    }
  }

  .comment__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    @include breakpoint($large) {
      width: 80px;
      height: 80px;
      padding: 5px;
      border: 1px solid $border-color;
    }
  }

  .comment__content-wrapper {
    float: right;
    width: calc(100% - 60px);

    @include breakpoint($large) {
      width: calc(100% - 100px);
    }
  }

  .comment__author {
    margin: 0;

    a {
      text-decoration: none;
    }
  }

  .comment__date {
    @extend .page__meta;
    margin: 0;

    a {
      text-decoration: none;
    }
  }
}
/*
   Related
   ========================================================================== */

.page__related {
  @include clearfix();
  margin-top: 2em;
  padding-top: 1em;
  border-top-width: 1px;
  border-top-style: solid;
}

.page__related-title {
  font-size: $type-size-6;
}

/*
   Wide Pages
   ========================================================================== */

.wide {
  .page {
    @include breakpoint($large) {
      padding-right: 0;
    }

    @include breakpoint($x-large) {
      padding-right: 0;
    }
  }

  .page__related {
    @include breakpoint($large) {
      padding-right: 0;
    }

    @include breakpoint($x-large) {
      padding-right: 0;
    }
  }
}
