/* ==========================================================================
   SEARCH
   ========================================================================== */

.layout--search {
  .archive__item-teaser {
    margin-bottom: 0.25em;
  }
}

.search-icon {
  width: 100%;
  height: 100%;
}

.search-content {
  display: none;
  visibility: hidden;
  padding: 1em;
  animation: $intro-transition;
  animation-delay: 0.15s;
  width: 100%;

  @include breakpoint($x-large) {
    max-width: $max-width;
  }

  .search-input {
    display: block;
    margin-bottom: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: $type-size-3;

    @include breakpoint($large) {
      font-size: $type-size-2;
    }

    @include breakpoint($x-large) {
      font-size: $type-size-1;
    }
  }

  &.is--visible {
    display: block;
    visibility: visible;
  }

  .results__found {
    font-size: $type-size-6;
  }

  .archive__item {
    margin-bottom: 2em;

    @include breakpoint($large) {
      width: 75%;
    }

    @include breakpoint($x-large) {
      width: 50%;
    }
  }

  .archive__item-title {
    margin-top: 0;
  }

  .archive__item-excerpt {
    margin-bottom: 0;
  }
}

/* Algolia search */

.ais-search-box {
  max-width: 100% !important;
  margin-bottom: 2em;
}

.archive__item-title .ais-Highlight {
  font-style: normal;
  text-decoration: underline;
}

.archive__item-excerpt .ais-Highlight {
  font-style: normal;
  font-weight: bold;
}
