/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-size: $type-size-6;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 0.5em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

tr,
td,
th {
  vertical-align: middle;
}